<% mention = notification.source %>

<strong class="notificaton__mention">
  <%= t("mailers.mention.mentioned_you", name: mention.mentioner.first_name) %>
</strong>
<p class="notification__details">
  <%= mention.source.mentionable_content.truncate(250) %>
</p>
