<% if bubble.popped? %>
  <%= button_to bucket_bubble_pop_path(bubble.bucket, bubble), method: :delete, class: "btn full-width justify-start borderless" do %>
    <%= image_tag "pop.svg", aria: { hidden: true }, size: 24 %>
    <span>Restore it</span>
  <% end %>
<% else %>
  <%= button_to bucket_bubble_pop_path(bubble.bucket, bubble), class: "btn full-width justify-start borderless" do %>
    <%= image_tag "pop.svg", aria: { hidden: true }, size: 24 %>
    <span>Pop it</span>
  <% end %>
<% end %>
