<div class="flex flex-column align-center">
  <h2 class="divider txt-large margin-none-block full-width"><%= t("users.access_tokens.title") %></h2>
  <p class="margin-none"><%= t("users.access_tokens.description", link: link_to(t("users.access_tokens.personal_access_tokens"), my_access_tokens_path, class: "btn btn--plain txt-link")).html_safe %></p>
</div>