<section>
  <strong class="divider txt-large">Appearance</strong>

  <div class="theme-switcher flex gap max-width justify-center txt-small margin-block-start-half">
    <button type="button" class="btn theme-switcher__btn" data-action="click->theme#setLight" data-theme-target="lightBtn">
      <%= icon_tag "sun" %>
      <span class="overflow-ellipsis">Always light</span>
    </button>

    <button type="button" class="btn theme-switcher__btn" data-action="click->theme#setDark" data-theme-target="darkBtn">
      <%= icon_tag "moon" %>
      <span class="overflow-ellipsis">Always dark</span>
    </button>

    <button type="button" class="btn theme-switcher__btn" data-action="click->theme#setAuto" data-theme-target="autoBtn">
      <%= icon_tag "monitor" %>
      <span class="overflow-ellipsis">Same as OS</span>
    </button>
  </div>
</section>
