<span class="card__meta-text card__meta-text--due <%= 'card__meta-text--overdue' if card.due_on.present? && card.overdue? %>">
  <% if card.due_on.present? %>
    <%= icon_tag "refresh--meta" %>
    <%= t("cards.display.due") %>
    <strong><%= l(card.due_on, format: :short) %></strong>
  <% end %>
</span>
