<% @page_title = t("users.email_addresses.confirmations.invalid_token.title") %>

<div class="panel panel--centered center flex flex-column gap-half" style="--panel-size: 50ch;">
  <h1 class="txt-x-large font-weight-black margin-none">
    <%= t("users.email_addresses.confirmations.invalid_token.heading") %>
  </h1>
  <p class="margin-none-block-start margin-block-end-half">
    <%= t("users.email_addresses.confirmations.invalid_token.description") %>
  </p>

  <%= link_to t("users.email_addresses.confirmations.invalid_token.retry"), new_user_email_address_path(user_id: @user, script_name: @user.account.slug), class: "btn btn--link center" %>

  <p class="txt-small txt-subtle">
    <%= t("users.email_addresses.confirmations.invalid_token.help", support_link: mail_to("support@fizzy.do", t("users.email_addresses.confirmations.invalid_token.support_link"))).html_safe %>
  </p>
</div>
